.label-styled {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label-styled input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 1.5px solid #FF4081;
  border-radius: 7px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5.5px;
  top: 1.5px;
  width: 6px;
  height: 10px;
  /* background-color: #FF4081; */
  border: 2px solid #FF4081;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {

}